/*Aca va el import de fuentes*/

 *{/*reseteo*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 1200px;
    margin: auto;/*Centra un contenedor*/
    background-color: #405f8b;
    
}

header {
    height: 146px;
    background-color:#193342;
}
    header nav{
        display: flex;
        background-color: #193342;
        align-items: center;
    }

    header nav img{
    width: 250px;
    
    }

    header nav a{
        color: #f0ebd8;
        font-size: 24px;
        padding: 16px;
        text-decoration: none;
        background-color:#193342;
    }
    
     #menu a:hover{
        border-width: 2px;
        border-color: #5375a9;
        background-color: #5375a963 ;
     }
main {
    min-height: 820px;
    background-color: #405779;
}
    #hero-banner{
    height: 500px;
    background-image: url(../imagenes/ropas.png);
    background-position: center;
    color: rgb(255, 255, 255);
    font-size: 48px;
    font-weight: 400;
    text-shadow: 0px 0px 6px rgb(1, 2, 20);
    display: flex;
    text-align: center;


    }
        #hero-banner h1{  
            padding: 50px;      
            margin-top: 150px;
            margin-left: 150px;
        }
        #hero-banner h2{
            margin-top: 300px;
        }


    #invierno-banner {
    height: 500px;
    background-image: url(../imagenes/invierno.jpg);
    color: rgb(255, 255, 255);
    font-size: 48px;
    text-shadow: 0px 0px 6px rgb(1, 2, 20);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 48px;
    }


footer {
    height: 240px;
    background-color: #08295A;
    display: flex;
    justify-content:space-evenly;
    font-size: 16px;
}
    footer section{
        width: 371px;
        padding: 80px;
        color: rgb(255, 255, 255);
    }
    footer div{
        display: flex;
    }
    footer h6{
        font-size: 24px;
    }


/*IMAGENES DE LAS PAGINAS HOMBRES, MUJERES Y NIÑOS*/
#conjuntos{ 
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
    article{
        padding-top: 20px;
        width: 371px;
        color: #f0f8ff;
        font-size: 24px;
    }
     article img{
        border-radius: 5%;
     }
     article div{
        background-color: #3d4e589c;
        border-radius: 5%;
     }
     
    